# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout
      
      - add_ssh_keys:
          fingerprints:
            - "0e:d2:f5:ca:e5:40:f6:23:d8:d1:58:db:80:3a:4c:df"

      # Download and cache dependencies!
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
     
     # Install SL agent!
      - run: 
          name: Install Shiftleft agent!
          command: curl https://www.shiftleft.io/download/sl-latest-linux-x64.tar.gz > /tmp/sl.tar.gz && sudo tar -C /usr/local/bin -xzf /tmp/sl.tar.gz

    # Install Ocular!
      - run: 
          name: Install Ocular Installation
          command: sl update ocular
     
     # build the apps!
      - run: 
          name: Build the application!
          command: mvn clean package

      # run tests!
      - run: mvn integration-test
      
      # Get analysis scripts!
      - run: 
          name: Get hardcoded literal Analysis scripts
          command: |
            cd /home/circleci/.shiftleft/ocular/
            git clone git@github.com:alokshukla1978/scripts-internal.git
      
      # Analyze for security!
      - run: 
          name: Analyze for hardcoded literals
          command: |
            cd /home/circleci/.shiftleft/ocular/
            /home/circleci/.shiftleft/ocular/ocular.sh --script /home/circleci/.shiftleft/ocular/scripts-internal/java/sensitive/main.sc --params payloadType=WAR,payload=/home/circleci/repo/target/servlettarpit.war,scriptType=SENSITIVE_LITERAL,nameSpace=".*(io.shiftleft).*",outFile=sensitive_literal.json
            /home/circleci/.shiftleft/ocular/ocular.sh --script /home/circleci/.shiftleft/ocular/scripts-internal/java/sensitive/main.sc --params payloadType=WAR,payload=/home/circleci/repo/target/servlettarpit.war,scriptType=SENSITIVE_DATA,nameSpace=".*(io.shiftleft).*",outFile=sensitive_data.json

      # Test Security Results
      - run:
          name: Assert build quality against security standards
          command: |
              echo 'CIRCLE PULL REQUEST ' $CIRCLE_PULL_REQUEST
              echo $CIRCLE_PULL_REQUEST
              echo $CIRCLE_BRANCH
              LITERALFOUND=$(jq .count /home/circleci/.shiftleft/ocular/sensitive_literal.json)
              DATAFOUND=$(jq .count /home/circleci/.shiftleft/ocular/sensitive_literal.json)
              IDENTIFIERFOUND=$(jq .count /home/circleci/.shiftleft/ocular/sensitive_literal.json)
              if [ "$LITERALFOUND" -eq "0" && "$DATAFOUND" -eq "0" && "$IDENTIFIERFOUND" -eq "0"  ]; then
                  PR_COMMENT="No Hardcoded secrets or UDT or Identifiers were found. This PR can be merged."
              else
                  # Sensitive Literals
                  LITERAL_DATA_ELEMENT=$(jq -r .sensitiveData[0].dataElement /home/circleci/.shiftleft/ocular/sensitive_literal.json)
                  LITERAL_DATA_TYPE_1=$(jq -r .sensitiveData[0].dataTags[1] /home/circleci/.shiftleft/ocular/sensitive_literal.json)
                  LITERAL_DATA_TYPE_2=$(jq -r .sensitiveData[0].dataTags[2] /home/circleci/.shiftleft/ocular/sensitive_literal.json)
                  LITERAL_DATA_FILE_PART=$(jq -r .sensitiveData[0].flows[0][0].fileName /home/circleci/.shiftleft/ocular/sensitive_literal.json)
                  LITERAL_DATA_FILE_FULLNAME="src/main/java/"
                  LITERAL_DATA_FILE_FULLNAME+=$LITERAL_DATA_FILE_PART
                  LITERAL_DATA_FILE_LINE_NUMBER=$(jq -r .sensitiveData[0].flows[0][0].lineNumber /home/circleci/.shiftleft/ocular/sensitive_literal.json)

                  # Sensitive Data
                  UDT_SINKCAT=$(jq -r .sensitiveData[0].sinkCategory /home/circleci/.shiftleft/ocular/sensitive_data.json)
                  UDT_SRC_VARNAME=$(jq -r .sensitiveData[0].flows[7][0].variableName /home/circleci/.shiftleft/ocular/sensitive_data.json)
                  UDT_SRC_FILENAME=$(jq -r .sensitiveData[0].flows[7][0].fileName /home/circleci/.shiftleft/ocular/sensitive_data.json)
                  UDT_SRC_LINENUM=$(jq -r .sensitiveData[0].flows[7][0].lineNumber /home/circleci/.shiftleft/ocular/sensitive_data.json)
                  UDT_SRC_METHODNAME=$(jq -r .sensitiveData[0].flows[7][0].methodNameShort /home/circleci/.shiftleft/ocular/sensitive_data.json)
                  UDT_SINK_VARNAME=$(jq -r .sensitiveData[0].flows[7][18].variableName /home/circleci/.shiftleft/ocular/sensitive_data.json)
                  UDT_SINK_FILENAME=$(jq -r .sensitiveData[0].flows[7][18].fileName /home/circleci/.shiftleft/ocular/sensitive_data.json)
                  UDT_SINK_LINENUM=$(jq -r .sensitiveData[0].flows[7][18].lineNumber /home/circleci/.shiftleft/ocular/sensitive_data.json)
                  UDT_SINK_METHODNAME=$(jq -r .sensitiveData[0].flows[7][18].methodNameShort /home/circleci/.shiftleft/ocular/sensitive_data.json)               
         
                  UDT_SRCFILE_FULLNAME="https://github.com/alokshukla1978/tarpit/blob/master/src/main/java/"
                  UDT_SRCFILE_FULLNAME+="$UDT_SRC_FILENAME#L$UDT_SRC_LINENUM"
                  UDT_SINKFILE_FULLNAME="src/main/java/"
                  UDT_SINKFILE_FULLNAME+=$UDT_SINK_FILENAME                

                fi
                  if [ ! -z "$CIRCLE_PULL_REQUEST" ]; then
                      PR_USER=$(echo $CIRCLE_PULL_REQUEST | cut -d '/' -f4)
                      PR_REPO=$(echo $CIRCLE_PULL_REQUEST | cut -d '/' -f5)
                      PR_NUMBER=$(echo $CIRCLE_PULL_REQUEST | cut -d '/' -f7)
                      FULLPATH="https://github.com/alokshukla1978/tarpit/blob/master/"
                      FULLPATH+=$LITERAL_DATA_FILE_FULLNAME
                      FULLPATH+="#L$LITERAL_DATA_FILE_LINE_NUMBER"
                      echo $FULLPATH
                      PR_COMMENT="Data Type | Hardcoded Literal\\n---------- |  ----------\\n $LITERAL_DATA_TYPE_1 $LITERAL_DATA_TYPE_2 | [$LITERAL_DATA_ELEMENT] ($FULLPATH) "
                      echo $PR_COMMENT
                      curl -H "Authorization: token $GH_AUTH_TOKEN" -X POST -d "{\"body\": \"$PR_COMMENT\"}" https://api.github.com/repos/$PR_USER/$PR_REPO/issues/$PR_NUMBER/comments
                      
                      PR_COMMENT="Source/Sink | Leaking Variable | Method Name | File Name\\n---------- |  ---------- |  ---------- |  ----------\\n "*Source*" | $UDT_SRC_VARNAME | $UDT_SRC_METHODNAME | $UDT_SRCFILE_FULLNAME\\n "*Sink*" | $UDT_SINK_VARNAME | $UDT_SINK_METHODNAME "
                      echo $PR_COMMENT
                      curl -H "Authorization: token $GH_AUTH_TOKEN" -X POST -d "{\"body\": \"$PR_COMMENT\"}" https://api.github.com/repos/$PR_USER/$PR_REPO/issues/$PR_NUMBER/comments
                      
                      PR_COMMENT="ShiftLeft detected a variable **$UDT_SRC_VARNAME** in the method **$UDT_SRC_METHODNAME** in file **$UDT_SRCFILE_FULLNAME** that is leaking to **$UDT_SINKCAT** via variable name **$UDT_SINK_VARNAME** through **$UDT_SINK_METHODNAME** "
                      echo $PR_COMMENT
                      curl -H "Authorization: token $GH_AUTH_TOKEN" -X POST -d "{\"body\": \"$PR_COMMENT\"}" https://api.github.com/repos/$PR_USER/$PR_REPO/issues/$PR_NUMBER/comments
                      
                     if [ "$LITERALFOUND" -gt "0"  ]; then
                          echo "Failing the build since PR violates security policy"
                          exit 1
                      fi
                  fi
    
      
