# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
     
     # Install SL agent
      - run: 
          name: Install Shiftleft agent!
          command: curl https://www.shiftleft.io/download/sl-latest-linux-x64.tar.gz > /tmp/sl.tar.gz && sudo tar -C /usr/local/bin -xzf /tmp/sl.tar.gz

     # build the apps
      - run: 
          name: Build the application!
          command: mvn clean package

      # run tests!
      - run: mvn integration-test
     
     # Update Path and Define Environment Variables!
      - run:
          name: Update PATH and Define Environment Variables
          command: |
            echo 'export APP_NAME=Tarpit-Test' >> $BASH_ENV
            source $BASH_ENV
      
      # Analyze for security!
      - run: 
          name: Analyze for security bugs!
          command: sl analyze --wait --app $APP_NAME target/servlettarpit.war
          
      # Test Security Results
      - run:
          name: Assert build quality against security standards
          command: |
              BUILD_RESULT=$(curl -X GET "https://www.shiftleft.io/api/v3/public/org/$SHIFTLEFT_ORG_ID/app/$APP_NAME/tag/branch/$CIRCLE_BRANCH/build" -H "Authorization: Bearer $SHIFTLEFT_API_TOKEN" -H 'Accept: */*' -H 'Cache-Control: no-cache' -H 'Connection: keep-alive' -H 'Host: www.shiftleft.io' -H 'accept-encoding: text/plain, deflate' -H 'cookie: Cookie_3=value' -s -b Cookie_3=value)
              if [ $(echo $BUILD_RESULT | grep "success") ]; then
                  PR_COMMENT="ShiftLeft did not detect any vulnerabilities that violate policy. This PR can be merged."
              else
                  URL="https://shiftleft.io/"
                  URL+=$(echo $BUILD_RESULT | jq -r '.errorDetails')
                  PR_COMMENT="ShiftLeft found vulnerabilities that violate policy. Go here for more details - $URL"
              fi
              if [ ! -z "$CIRCLE_PULL_REQUEST" ]; then
                  PR_USER=$(echo $CIRCLE_PULL_REQUEST | cut -d '/' -f4)
                  PR_REPO=$(echo $CIRCLE_PULL_REQUEST | cut -d '/' -f5)
                  PR_NUMBER=$(echo $CIRCLE_PULL_REQUEST | cut -d '/' -f7)
                  curl -H "Authorization: token $GH_AUTH_TOKEN" -X POST -d "{\"body\": \"$PR_COMMENT\"}" https://api.github.com/repos/$PR_USER/$PR_REPO/issues/$PR_NUMBER/comments
                  if [ ! $(echo $BUILD_RESULT | grep "success") ]; then
                      echo "Failing the build since PR violates security policy"
                      exit 1
                  fi
              else
                  echo "No PR information. Was this a commit/merge to the master branch?"
                   if [ ! $(echo $BUILD_RESULT | grep "success") ]; then
                      echo "Failing the build since commit/merge violates security policy"
                      exit 1
                  fi
              fi
      
